/*header__logo e nav*/
.header {
    height: 60px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
  .header__logo {
    width: 130px;
    margin-top: 5px;
    height: 80%;
  }
  
  .header__navigation {
    display: flex;
    align-items: center;
  }
  .header__navigation a {
    font-size: 1.6rem;
    margin-right: 15px;
  }
  
  .botoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-mobile {
    display: none;
  }
  
  .button__orange {
    padding: 8px 10px;
    margin: 10px;
    font-size: 1.5rem;
    border-radius: 30px;
    background-color: #ff8800;
    border-color: #ff8800;
    outline: none;
    color: #ffffff;
  }
  .button__orange:hover {
    background-color: rgba(255, 136, 0, 0.9);
  }